# GitHub code owners
# See https://github.com/blog/2392-introducing-code-owners

cmd/docker-app/***          @silvin-lubecki
e2e/***                     @silvin-lubecki
Jenkinsfile                 @silvin-lubecki @chris-crone
Dockerfile*                 @silvin-lubecki @chris-crone
*Makefile                   @silvin-lubecki @chris-crone
docs                        @chris-crone
